:root {
    --container-width: 1230px;
    --container-padding: 15px;

    --page-bg: white;
    --text-color: #000;

    --font-main: 'Montserrat', sans-serif;
}

.dark {
    --page-bg: rgb(59, 71, 75);
    --text-color: #e3f4f7;
}
