<div class="mob-nav-wrapper">
  <nav class="mob-nav" id="mob-nav">
    <ul class="mob-nav-list">
      <li><a href="#!">Destinations</a></li>
      <li><a href="#!">Activites</a></li>
      <li><a href="#!">About us</a></li>
      <li><a href="#!">Contacts</a></li>
    </ul>
    <div class="mob-socials">
        <a href="#!"><img src="./img/socials/facebook.svg" alt="facebook"></a>
        <a href="#!"><img src="./img/socials/twitter.svg" alt="twitter"></a>
        <a href="#!"><img src="./img/socials/instagram.svg" alt="instagram"></a>
    </div>
  </nav>
</div>
